body
{
	margin:0;
	padding: 0;
	background: url(image/bgh.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-y: hidden;
	
	

}

.loginBox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 420px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
	background-attachment: fixed;
}
.user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow:hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);

}
h2
{
	margin: 0;
	padding: 0 0 20px;
	color: #efed40;
	font-size: 25px;
	text-align: center;

}
.loginBox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
	text-align: center;

}
.loginBox input
{
	width: 100%;
	margin-bottom: 20px;

}
.loginBox input[type="text"],
.loginBox input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	font-size: 16px;
	color: #fff;
	text-align: center;
}
::placeholder
{
	color: rgba(255,255,255,.5);
	font-family: Sans Serif;
	text-align: center;
}
.loginBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #ff267e	;
	cursor: pointer;
	border-radius: 20px;

}
.loginBox input[type="submit"]:hover
{
	background:#efed40;
	color: #262626;
	transition: 0.4s;

}
.jumbotron{
padding-top: 48px;
    padding-bottom: 48px;
    background-color: darkblue!important;
}
/*1231263718236178232362138237821368123726381273621837216832173681273621837216328173621831273621837*/
